.banner {
  height: 83vh;
  background-image: url(../images/hero-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 20px 10px;
  display: flex;
}
.bannerSmall {
  /* height: 200px; */
  background-image: url(../images/hero-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 15px 30px;
  display: flex;
}
.bannerBlind {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 83, 28, 0.9); */
}
.bannerContent {
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bannerSmallContent {
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.bannerHead {
  font-size: 45px;
  text-transform: capitalize;
  font-family: mainFont;
  font-weight: 600;
  color: var(--sec-color);
  position: relative;
  /* text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); */
}
.bannerSmallHead {
  font-size: 40px;
  text-transform: capitalize;
  font-family: mainFont;
  font-weight: 600;
  color: var(--sec-color);
  position: relative;
}
.bannerSub {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  /* text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); */
}
.banner button {
  font-size: 16px;
}
@media (min-width: 600px) {
  .bannerHead {
    font-size: 90px;
  }
  .bannerSub {
    font-size: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .banner {
    padding: 50px !important;
  }
  .bannerSmall {
    padding: 100px 50px 50px !important;
  }
}
@media (min-width: 800px) {
  .banner {
    height: 600px;
    padding: 50px 100px 50px;
  }
  .bannerSmall {
    padding: 100px 100px 50px;
  }
  .bannerContent {
    padding-top: 100px;
  }
  .bannerHead {
    font-size: 100px;
  }
  .bannerSub {
    font-size: 35px;
  }
}
