/* NAVBAR */
@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}
.navBar {
  background-color: var(--sec-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1rem !important;
  z-index: 7;
  position: relative;
  transition: 0.2s ease;
}
.navLogo {
  display: flex;
  font-family: mainFont;
  color: white;
}
.navLogo a {
  color: inherit;
}
.navLogo a:hover {
  color: inherit;
  text-decoration: none;
}
.searchIcon {
  color: white;
}
.searchForm form {
  display: none;
  background-color: var(--sec-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 15px 1rem;
  z-index: 10;
  animation: slide 0.2s ease;
}
.searchForm form input {
  border: 1px solid grey;
  background: none !important;
  border-radius: 50px;
  color: white;
  padding: 3px 10px;
  width: 100%;
}
.searchForm form input:focus {
  outline: none;
  border: 1px solid white;
}
.nav-link {
  padding: 0 !important;
}
.menuIcon {
  color: white;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  animation: fade 0.2s ease both;
  animation-delay: 0.18s;
}
.sideNav {
  display: none;
}
.sideNavMenu {
  display: flex;
  flex-direction: column !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c0c0c;
  height: 100vh;
  width: 70%;
  z-index: 20;
  overflow-y: auto;
  animation: slide 0.2s ease;
  padding-bottom: 100px;
}
.sideNavMenu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 0px;
  padding: 0;
}
.sideNavMenu ul li {
  overflow: hidden;
  position: relative;
  color: grey;
}
.sideNavMenu ul li a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 1rem !important;
}
.sideNavMenu ul li:hover {
  background-color: #1c1c1c;
}
.sideNavMenu ul .active {
  color: var(--main-color);
  background-color: #1c1c1c;
  border-left: 3px solid var(--main-color);
}
.menuLabel {
  padding: 15px 1rem;
  color: grey;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.menuDropDown ul li {
  padding-left: 1.3rem !important;
}
.dropdownCaret {
  transition: 0.2s ease;
}
.rotateCaret {
  transform: rotate(-180deg);
}

@media screen and (min-width: 576px) {
  .sideNavMenu {
    width: 30%;
  }
  .searchForm form {
    display: flex !important;
    background-color: none;
    position: relative;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    display: flex;
    align-items: center;
    padding: initial;
    z-index: 3;
    animation: none !important;
  }
}

@media screen and (min-width: 992px) {
  .sideNavMenu {
    position: relative;
    width: 100%;
    z-index: 20;
    overflow-y: auto;
    animation: none;
  }
  .sideNav {
    display: flex !important;
  }
  .menuLabel:hover {
    background-color: #1c1c1c;
  }
}
