.eventMainSection {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}
.singleEventImage {
  background-color: lightgray;
}
.singleEventImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.eventSpeakerContainer {
  background-color: white;
  border: 1px solid lightgray;
}
.eventSpeakerImage {
  height: 200px;
}
.eventSpeakerImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.eventSpeakerDetails {
  padding: 15px;
}
.eventSpeakerName {
  font-weight: bold;
}
.eventSpeakerDesignation {
  color: grey;
}
.eventSpeakerSocials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.eventSpeakerSocials img {
  width: 20px;
  margin-right: 8px;
  display: flex;
}
.eventDetailsSection {
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px;
}
.eventDetailsHead {
  font-family: mainFont;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.eventDetailsContent {
  color: grey;
  margin-bottom: 20px;
}
.eventDetailsContent ul {
  margin: 0;
  padding: 0;
}
.eventDetailsContent ul li {
  list-style-type: none;
}
.eventDetailsContent ul li::before {
  content: "-";
  margin-right: 5px;
}
.eventRegisterBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
