/*  */
@font-face {
  font-family: labelFont;
  src: url(../fonts/Canela-Black.ttf);
}
@font-face {
  font-family: titleFont;
  src: url(../fonts/Canela-Bold.ttf);
}
@font-face {
  font-family: mainFont;
  src: url(../fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: mainFont;
  src: url(../fonts/ProductSans-Bold.ttf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
  font-family: mainFont;
  scroll-behavior: smooth;
}
:root {
  --color1: #e5a3a4;
  --color2: #1a1a1a;
  --color3: #818181;
}
body {
  background-color: #121212 !important;
  color: var(--color3) !important;
  width: 100%;
  overflow-x: hidden !important;
}
html {
  width: 100%;
  overflow-x: hidden !important ;
}
#wpadminbar {
  display: none !important;
}

/* social share button */
.shared-counts-wrap.style-icon .shared-counts-button {
  float: left;
  display: block;
  margin: 0;
  border: 1px solid var(--color3);
  border-radius: 50px;
  margin-right: 8px;
  background: var(--color3);
  color: black;
  transition: 0.2s ease;
}
.shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg {
  fill: black;
  width: 16px;
  height: 16px;
}
.shared-counts-wrap.style-icon .shared-counts-button:hover {
  background: var(--color1);
}
.shared-counts-wrap.style-icon
  .shared-counts-button:hover
  .shared-counts-icon
  svg {
  fill: black;
}

/* ==========
 standard UI elements
 ========== */
p {
  font-size: 0.95rem;
  word-wrap: break-word;
  flex-wrap: wrap;
}
article {
  line-height: 1.6rem !important;
  font-size: 1rem !important;
}
article p {
  line-height: 1.6rem !important;
  font-size: 1rem !important;
}
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.sectionLabel {
  color: var(--color1);
  text-transform: capitalize;
  font-family: labelFont;
  margin-bottom: 15px;
  font-size: 1.4rem;
}
.sectionLabel h4 {
  font-family: labelFont;
}
.title {
  text-transform: capitalize;
  color: white;
  font-family: labelFont;
}
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.Btn {
  filter: brightness(90%);
  transition: 0.2s ease;
}
.Btn:hover {
  filter: brightness(100%);
}
.mainBtn {
  background: none;
  color: var(--color1) !important;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px dashed white;
  transition: 0.4s ease;
  font-family: mainFont;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
}
.mainBtn:hover {
  /* border-color: var(--color1); */
  border-bottom: 1px solid var(--color1);
  text-decoration: none;
}
.btn-2 {
  background: var(--color1);
  color: black;
  padding: 8px 12px;
  border: 1px dashed var(--color1);
  transition: 0.4s ease;
  font-family: mainFont;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
  border-radius: 50px;
}
.btn-2:hover {
  text-decoration: none;
  color: var(--color1);
  background: rgba(0, 0, 0, 0);
}
.btn-3 {
  background: black;
  color: var(--color1);
  padding: 8px 12px;
  border: 1px dashed black;
  transition: 0.4s ease;
  font-family: mainFont;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
  border-radius: 50px;
}
.btn-3:hover {
  text-decoration: none;
  color: black;
  background: rgba(0, 0, 0, 0);
}
.imageContainer {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.coverImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.breadcrumbContainer {
  border-bottom: 1px solid #272727;
}
#breadcrumbs a {
  color: var(--color1);
}

/* ==========
pagination
 ========== */
.pagination {
  /* margin: 20px 0px; */
  display: flex;
  width: 100%;
}
.pagination .page-numbers {
  background: var(--color2);
  color: var(--color3);
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transition: 0.2s ease;
}
.pagination a:hover {
  text-decoration: none;
  background-color: var(--color3);
  color: var(--color2);
}
.pagination .current {
  color: black;
  background: var(--color1);
}
.pagination .dots {
  color: grey;
  margin-right: 5px;
}
/* .pagination .prev,
.pagination .next {
  display: none;
} */

/* ==========
Hero
 ========== */
.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color1);
  background-blend-mode: multiply;
}
.hero h4 {
  font-family: titleFont;
  color: white;
}

/* ==========
featured posts
 ========== */
.overflowContainer {
  overflow-x: scroll;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.overflowContainer::-webkit-scrollbar {
  display: none;
}
.overflowContainer .row {
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
}
.featuredTitle {
  width: 100%;
  color: white;
  font-family: titleFont;
}
/* ==========
Card
 ========== */
.card {
  border-radius: 5px !important;
  border-color: var(--color2) !important;
  background-color: var(--color2) !important;
  overflow: hidden;
}
.card .featuredImageContainer {
  height: 200px;
}
.card-body {
  background-color: var(--color2);
}
.card-body a {
  transition: 0.2s ease;
  color: var(--color2);
}
.card-body a:hover {
  text-decoration: none;
}
.card-body a .title:hover {
  color: var(--color1);
  text-decoration: underline;
}
.card-title {
  text-transform: capitalize;
}

/* ==========
Post
 ========== */
.post .imageContainer {
  max-height: 400px;
  position: relative;
}
.imageContainer .postTypeLabel {
  background: var(--color1);
  color: white;
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 1rem;
  text-transform: capitalize;
}
.post-author {
  text-transform: capitalize;
}
.singleImage .imageContainer {
  max-height: 500px;
  border-radius: 10px;
}

/* ==========
side bar
 ========== */
.sidebar {
  border: 2px solid var(--color2);
}
.sideBarCategories ul {
  margin: 0;
  padding: 0;
}
.sideBarCategories ul li {
  list-style-type: none;
  padding: 5px 0px;
  transition: 0.2s ease;
}
.sideBarCategories ul li a {
  color: var(--color3);
  border-bottom: 1px dotted var(--color3);
  display: flex;
  padding-bottom: 10px;
  transition: 0.2s ease;
}
.sideBarCategories ul li a:hover {
  color: var(--color1);
  padding-left: 10px;
  text-decoration: none;
}
.post .sideBarImageContainer {
  max-height: 100px;
}
.sidebarJoinBanner {
  background: var(--color1);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border-radius: 5px;
}
.sidebarJoinBanner .title {
  color: black;
}
.searchForm {
  background-color: inherit;
  border: 2px solid var(--color1);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.searchForm input {
  background: inherit;
  border: none;
  border-radius: 50px;
  padding: 5px 12px;
  color: white;
  width: 100%;
}
.searchForm input:focus {
  outline: none;
}
.searchForm button {
  background: none;
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: white;
  transition: 0.4s ease;
}
.searchForm button:hover {
  background: var(--color1);
  color: black;
}
.searchForm button:active,
.searchForm button:focus {
  outline: none;
  border: none;
}
/* side bar end */

/* ==========
newsletter
 ========== */
.newsletter {
  background-color: var(--color1);
  color: black;
}
.newsletter .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.newsletter .container h2 {
  font-family: labelFont;
}
.newsletter form {
  background-color: black;
  border-radius: 50px;
  padding: 3px;
  display: flex;
}
.newsletter form input {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  display: flex;
  background: black;
  color: var(--color3);
}
.newsletter form input:focus {
  outline: none;
  border: none;
}
.newsletter form button {
  background-color: var(--color1);
  border-radius: 50px;
  color: black;
  border: none;
  padding: 10px 15px;
}

/* ==========
footer
 ========== */
.footer {
  background-color: black;
  color: white;
}
.footerLogo a img {
  width: 150px;
}
.footer .footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer .footerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .footerSocials a {
  background-color: white;
  padding: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s ease;
}
.footer .footerSocials a:hover {
  text-decoration: none;
  background-color: var(--color1);
}
.footer .footerCopy {
  border-top: 1px solid var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color3);
}

/* ==========
Tab and PC
 ========== */
@media screen and (min-width: 576px) {
  /*newsletter*/
  .newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: initial;
  }
  /*footer*/
  .footer .footerContent {
    flex-direction: row;
    justify-content: space-between;
    text-align: initial;
  }
  .footer .footerSocials {
    align-items: flex-end;
  }
}

/* ==========
PC
 ========== */
@media screen and (min-width: 768px) {
}
