@font-face {
  font-family: mainFont;
  src: url(../fonts/ProductSans-Black.ttf);
}
@font-face {
  font-family: subFont;
  src: url(../fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: subFont;
  src: url(../fonts/ProductSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: subFont;
  src: url(../fonts/ProductSans-Bold.ttf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
  font-family: subFont;
  scroll-behavior: smooth;
}
:root {
  --main-color: #046fad;
  --sec-color: #131313;
  --text-color: rgb(150, 150, 150);
}
body {
  background-color: black !important;
  overflow: hidden;
}
#wpadminbar {
  display: none !important;
}

/* ==========
 standard UI elements
 ========== */
p {
  font-size: 0.95rem;
  word-wrap: break-word;
  flex-wrap: wrap;
}
article {
  line-height: 1.6rem !important;
  font-size: 1rem !important;
}
article p {
  line-height: 1.6rem !important;
  font-size: 1rem !important;
}
.section {
  padding: 50px 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.sectionLabel {
  color: white;
  text-transform: capitalize;
  font-family: subFont;
  margin-bottom: 15px;
}
.title {
  text-transform: capitalize;
  color: black;
  /* font-weight: bold; */
}
.mainBtn {
  background-color: var(--main-color);
  color: white;
  padding: 8px 15px;
  border: 2px solid var(--main-color);
  transition: 0.4s ease;
  font-family: mainFont;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBtn:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
}
.downloadBtn {
  display: flex;
  justify-content: space-between;
}
.imageContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
hr {
  background-color: var(--sec-color);
}
.bodyContainer {
  overflow-y: auto;
  max-height: 100vh;
  padding: 0rem 0rem 4rem !important;
}

/* ==========
popular movies
 ========== */
.overflowContainer {
  overflow-x: scroll;
}
.overflowContainer::-webkit-scrollbar {
  display: none;
}
.overflowContainer .row {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

/* ==========
 movie card
 ========== */
.movieCard {
  background-color: var(--sec-color);
  height: 100%;
}
.movieCardDate {
  font-size: 0.8rem;
  color: grey;
}
.movieCardRating {
  color: #d4ca4c;
  font-size: 0.8rem;
}
.movieCardImage {
  height: 170px;
}
.movieCardImage img {
  transition: 0.2s ease;
}
.movieCardTitle {
  color: white;
  text-transform: capitalize;
  transition: 0.2s ease;
}
.movieCardLink {
  text-decoration: none;
}
.movieCardLink:hover {
  text-decoration: none;
}
.movieCardLink:hover .movieCardImage img {
  opacity: 0.5;
  transform: scale(1.2);
}

/* ==========
 single movie
 ========== */
.singleMovieImage {
  background-color: var(--sec-color);
}
.singleMovieImage .imageContainer {
  max-height: 500px;
}
.singleMovieYear {
  color: var(--text-color);
  font-size: 1.2rem;
}
.singleMovieYear a {
  color: inherit;
}
.singleMovieYear a:hover {
  color: inherit;
}
.singleMovieRating {
  color: #d4ca4c;
  font-size: 1.2rem;
}
.movieDescription {
  color: var(--text-color) !important;
}
.movieDetail {
  color: var(--text-color);
  text-transform: capitalize;
}
.movieCategory {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 3px;
  font-size: 0.8rem;
  transition: 0.2s ease;
}
.movieCategory:hover {
  text-decoration: none;
  background-color: var(--text-color);
  color: black;
}

@media screen and (min-width: 576px) {
  .movieCardImage {
    height: 250px;
  }
}
@media screen and (min-width: 992px) {
  .movieCardImage {
    height: 210px;
  }
  *::-webkit-scrollbar {
    background-color: var(--sec-color);
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 8px;
    border: 1px solid var(--sec-color);
  }
}
